@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
}
.testimoy-slider .slick-slide {
    margin: 0 5px; 
}
.testimoy-slider .slick-list {
    margin: 0 -5px;
    height: 275px;
  }