@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}
.testimoy-slider .slick-slide {
  margin: 0 5px;
}
.testimoy-slider .slick-list {
  margin: 0 -5px;
  height: 275px;
}

.contact-info:hover {
  .info-icon {
    background-color: #002f5b30;
  }
}
.service-div:hover {
  .service-icon {
    background-color: #002f5b30;
  }
}

.photo-form > input[type="file"] {
  /* height: 50px; Adjust height */
  /* padding: 10px; Optional padding */
  /* font-size: 16px; Larger text */
}